    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <!-- <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    HUB
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    M Conf&A
                </a>
            </div> -->
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="{% if 'customers-list' in segment %} active {% endif %}">
                    <a href="{{ url_for('authentication_blueprint.customers_list') }}">
                        <i class="tim-icons icon-single-02"></i>
                        <p>Clientes</p>
                    </a>
                </li>
                <li class="{% if 'budgets' in segment %} active {% endif %}">
                    <a href="{{ url_for('home_blueprint.budgets') }}">
                        <i class="tim-icons icon-paper"></i>
                        <p>Orçamentos</p>
                    </a>
                </li>
                <li class="{% if 'interventions' in segment %} active {% endif %}">
                    <a href="{{ url_for('home_blueprint.interventions_list') }}">
                        <i class="tim-icons icon-settings-gear-63"></i>
                        <p>Intervenções</p>
                    </a>
                </li>
                <li class="{% if 'maintenance-alerts' in segment %} active {% endif %}">
                    <a href="{{ url_for('home_blueprint.maintenance_alerts') }}">
                        <i class="tim-icons icon-bell-55"></i>
                        <p>Avisos Manutenção</p>
                    </a>
                </li>
                <li class="{% if 'maintenance-requests' in segment %} active {% endif %}">
                    <a href="{{ url_for('home_blueprint.maintenance_requests') }}">
                        <i class="tim-icons icon-world"></i>
                        <p>Solicitações</p>
                    </a>
                </li>
                <!--<li>
                    <a href="{{ url_for('authentication_blueprint.logout') }}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
